<lazy-style href="assets/libs/multiple-select/multiple-select.min.css"></lazy-style>
<div class="container-fluid" style="padding: 20px">
<h4>{{title}}
<button ng-if="id" class="btn btn-xs btn-warning" ng-click="goIDE();">ADVANCED</button>
<div ng-if="id<=0" class="btn btn-primary" ngf-select ngf-change="upload($file)" ngf-max-size='10000' accept="'application/zip,application/x-zip,application/x-zip-compressed'">
    Import from zip  {{uploadPercent}}
</div>
<nz-toggle tri-toggle ng-model="a.share" val-true="2" val-false="0" val-null="1"></nz-toggle>  <small>{{a.share===0?'Private':(a.share===1?'Registered users only':'Public')}}</small>
</h4>
    
<uib-tabset>
    <uib-tab ng-repeat="lang in langs" index="$index"> 
        <uib-tab-heading>
            <span class="flag flag-{{lang}}"></span>
        </uib-tab-heading>
        <h5>Títol:</h5>
        <input class="form-control" type="text" ng-model="a.title[lang]" ng-blur="onTitleBlur(lang)"/>
        <h5>Descripcció:</h5>
        <textarea class="form-control" ng-model="a.description[lang]" rows='4' cols='70' ng-blur="onDescBlur(lang)"></textarea>
    </uib-tab>    
</uib-tabset>
<hr>

    
<div class='row'>
<div class='col-sm-6'>
    <h5>Nivells on està destinada:</h5>
     <multiple-autocomplete  name="pklevels" ng-model="a.levels" suggestions-arr="groupsAvail"></multiple-autocomplete>
    
</div>
<div class='col-sm-6'>
<p>Categories:</p>
    <multiple-autocomplete  name="pkcatg" ng-model="a.categories" suggestions-arr="categories" allow-new-items="true"></multiple-autocomplete>
</div>
</div>

<br>

<table>
    
    <tr ng-if="config.mode==='A'">
        <td><h5>URL d'icona: </h5></td>
        <td><input type='text' ng-model="a.icon"/></td>
    </tr>
        
    <tr ng-if="config.mode==='A'">
        <td><h5>Youtube ID: </h5></td>
        <td><input type='text' ng-model="a.ytid" ng-disabled="a.id>0"/>
            Video amb Preguntes: <nz-toggle ng-model="a.ytqu" val-true="1" val-false="0" val-null="0"  ng-disabled="a.id>0"></nz-toggle> 
        </td>
    </tr>
    
    <tr ng-if="config.mode==='A'">
        <td><h5>Geogebra ID: </h5></td>
        <td><input type='text' ng-model="a.ggbid"  ng-disabled="a.id>0"/> </td>
    </tr>
    
    <tr ng-if="config.mode==='A'">
        <td><h5>Simulació JS: </h5></td>
        <td><nz-toggle ng-model="a.createjs" val-true="1" val-false="0" val-null="0"  ng-disabled="a.id>0"></nz-toggle> </td>
    </tr>
     
</table>

<!--===============================================================================================================================-->
<div ng-if="config.mode !== 'A'">
    <h4>Edit theory section</h4>
    <textarea ui-tinymce="tinymceOpts" ng-model="a.theory"></textarea>
</div>


<!--===============================================================================================================================-->
<div ng-if="config.mode === 'Q'">
    <h4>Quizz configuration</h4>
    Shuffle questions <nz-toggle ng-model="quizz.shuffleQ"></nz-toggle>
    Shuffle options <nz-toggle ng-model="quizz.shuffleO"></nz-toggle> 
    
    <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-xs btn-success glyphicon glyphicon-plus-sign" uib-dropdown-toggle>
            Add Question
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li>
                <a href="" ng-click="addQuestionMultipleQuizz()"> Multiple </a>
            </li>
             <li>
                <a href="" ng-click="addQuestionInputQuizz()"> Input box </a>
            </li>
        </ul>
    </div>   
    
    
    <ul class="list list-unstyled list-group" sv-root="quizz-level0" sv-part="quizz.list">
        <li ng-repeat="q in quizz.list" ng-class-even="'list-group-item list-group-item-warning'" ng-class-odd="'list-group-item list-group-item-info'">
            <div sv-element>
                
            <span class="glyphicon glyphicon-move" sv-handle></span>    
            <span class="badge">{{$index+1}}</span>
            <button class="btn btn-xs btn-danger glyphicon glyphicon-remove" ng-click="removeQuestionQuizz()"></button>
            <br>
            
            Formulation <br><textarea ng-model="q.formulation" style="width:80%" rows="4"></textarea><br>
            Hint  <input type="text" ng-model="q.hints" style="width: 70%" /><br>
            Scope  <input type="text" ng-model="q.scope" style="width: 70%" /><br>
             
            <br>
            <div ng-if="q.type==='input'">
                Right answer <input type="text" ng-model="q.answer" style="width: 60%"/>
            </div>
            
            <div ng-if="q.type==='multiple'" style="margin-left: 30px">
                   <!--decide which display to use-->
                   Display <select ng-model="q.format"><option value="kahoot">Kahoot like</option><option value="radio">Radio boxes</option></select>   
                
                    <button class="btn btn-xs btn-success glyphicon glyphicon-plus-sign" ng-click="addOptionQuizz(q)">Add option</button><br>
                    <ul class="list list-unstyled list-group" sv-root="quizz-level1" sv-part="q.options">
                        <li class="list-item" ng-repeat="o in q.options">
                            <div sv-element>
                            <span class="glyphicon glyphicon-move" sv-handle></span>    
                            <button class="btn btn-xs btn-danger glyphicon glyphicon-remove" ng-click="removeOptionQuizz(q, o)"></button>
                            Text <input type="text" ng-model="o.text" />
                            Valid <input type="checkbox" ng-model="o.valid"/>                            
                            </div>
                        </li>
                    </ul>
            </div>
            
            </div>
        </li>
    </ul>
    
</div>


<!--===============================================================================================================================-->
<div ng-if="config.mode === 'U'">
    <h4>Upload configuration</h4>
</div>


 
<br><br>
<div>
    <button ng-click="cancel()" class="btn btn-warning">Cancel·la</button>
    <button ng-click="accept()" class="btn btn-success" ng-disabled="block"><img ng-if="block" src="assets/img/ajax-loader-squares.gif" />Accepta</button>
</div>
